.player {
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
}
.title-contain {
  margin: auto;
  .title {
    font-size: 1.5rem;
    text-align: left;
  }
}
