.player {
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
}
.title-contain {
  margin: auto;
  .title {
    font-size: 1.5rem;
    text-align: left;
  }
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  padding: 10px;
  padding-left: 6rem;
  background-color: #31a9ee;
  color: #fff3f3;
  font-size: 1.5rem;
}
