<header class="header">
  盛り上がってるとこを見るやつ
</header>
<div class="player">
  <youtube-player
    [videoId]="(youtubeData$ | async).id"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)">
  </youtube-player>
  <div class="title-contain" [ngStyle]="{'width':canvasWidth+'px'}">
    <div class="title">
      {{ (youtubeData$ | async).title }}
    </div>
  </div>
  <app-chart
    (chartClickEvent)="onReceiveSeekSecond($event)"
    [width]="canvasWidth"
    [height]="canvasHeight"
    [id]="(youtubeData$ | async).id">
  </app-chart>
</div>
