<div class="list">
  <div class="thumbnail-wrap">
      <img class="thumbnail" src="./assets/icon.png"/>
  </div>
  <div class="thumbnail-wrap">
      <img class="thumbnail" src="./assets/icon.png"/>
  </div>
  <div class="thumbnail-wrap">
      <img class="thumbnail" src="./assets/icon.png"/>
  </div>
  <div class="thumbnail-wrap">
      <img class="thumbnail" src="./assets/icon.png"/>
  </div>
  <div class="thumbnail-wrap">
      <img class="thumbnail" src="./assets/icon.png"/>
  </div>
  <div class="thumbnail-wrap">
      <img class="thumbnail" src="./assets/icon.png"/>
  </div>
</div>

