.list {
    display: flex;
    flex-wrap: wrap;
    .thumbnail-wrap {
        width: 20%;
        padding: 0.5rem;
        .thumbnail {
            width: 100%;
        }
        .title {
            font-size: 1.2rem;
        }
    }
    .thumbnail-wrap:hover {
        background-color: #c4fcff;
    }
}